/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&led_strip {
    chain-length = <27>;

    // 21 backlight + 6 glowlight
};

/ {
    behaviors {
        new_behavior: new_behavior {
            compatible = "zmk,behavior-hold-tap";
            label = "NEW_BEHAVIOR";
            bindings = <&none>, <&none>;

            #binding-cells = <2>;
            tapping-term-ms = <190>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp GRAVE  &kp Q               &kp W           &kp E               &kp R             &kp T    &kp Y      &kp U              &kp I                &kp O            &kp P                   &kp BSPC
&kp TAB    &mt LEFT_CONTROL A  &mt LEFT_ALT S  &mt LEFT_COMMAND D  &mt LEFT_SHIFT F  &kp G    &kp H      &mt RIGHT_SHIFT J  &mt RIGHT_COMMAND K  &mt RIGHT_ALT L  &mt RIGHT_CONTROL SEMI  &kp ENTER
&kp LSHFT  &kp Z               &kp X           &kp C               &kp V             &kp B    &kp N      &kp M              &kp COMMA            &kp DOT          &kp FSLH                &kp ESC
                                               &kp LGUI            &mo 2             &mo 1    &kp SPACE  &mo 1              &kp RALT
            >;
        };

        Nav1 {
            bindings = <
&trans  &trans            &kp LG(LC(W))  &kp LG(LC(LEFT_BRACKET))  &kp LC(LG(RIGHT_BRACKET))  &trans    &trans  &trans    &kp UP_ARROW  &trans     &trans  &trans
&trans  &kp LEFT_CONTROL  &kp LEFT_ALT   &kp LEFT_COMMAND          &kp LEFT_SHIFT             &trans    &trans  &kp LEFT  &kp DOWN      &kp RIGHT  &trans  &trans
&trans  &trans            &trans         &trans                    &trans                     &trans    &trans  &trans    &trans        &trans     &trans  &trans
                                         &trans                    &trans                     &trans    &trans  &trans    &trans
            >;
        };

        Symbol1 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &kp MINUS        &kp EQUAL             &kp LEFT_BRACKET  &kp ASTERISK       &kp GRAVE             &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp LEFT_BRACE   &kp LEFT_PARENTHESIS  &kp COLON         &kp DOUBLE_QUOTES  &kp NON_US_BACKSLASH  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp EXCLAMATION  &kp AMPERSAND         &kp COMMA         &kp PERIOD         &kp SLASH             &trans
                        &trans  &trans  &trans    &trans           &trans                &trans
            >;
        };
    };
};
